<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magnitude">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

</manifest>
